@import './style.scss';
.App{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.footer{
    position: fixed;
    width:100%;
    height:1.2rem;
    left:0;
    bottom:0;
    z-index: 99999;
    background-color: #fff;
}
.NavHall{
    position: fixed;
    width:100%;
    height:1.2rem;
    left:0;
    top:1.2rem;
    z-index: 99999;
    background-color: #fff;
}
.footer ul,.NavHall ul { 
    height:100%;
    @include border_t-1px(#ccc);
  }
.footer ul li:not(:last-child){
    height:100%;
    @include border_r-1px(#ccc);
}
.footer a,.NavHall a{
    width:100%;
    text-align: center;
    line-height: 1.2rem;
}
.footer a.selected,.NavHall a.selected{
    color:red;
}
.bg{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: -1;
    bottom:1.2rem;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.hallView{
   padding-bottom: 1.333333rem;
}
.hall {
    height: 100%;
}

.nav>div+div {
    margin-left: 0.426666rem;
}
.nav a.selected{
    color:red;
}
.hall_nav>div+div {
    margin-left: 2.133333rem;
}

.hall-nav {
    position: absolute;
    top: 1.2rem;
    left: 0;
}
.hall-router{
    margin-top: 2.4rem;
}
